<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <button mat-raised-button color="primary" (click)="generatePgpKey()">Generate PGP Keys</button>

  <div class="card-container">
    <mat-card>
      <mat-card-header>Private Key</mat-card-header>
      <mat-card-content>
        <pre>{{privateKey}}</pre>
      </mat-card-content>
    </mat-card>

    <div class="seperator"></div>

    <mat-card>
      <mat-card-header>Public Key</mat-card-header>
      <mat-card-content>
        <pre>{{publicKey}}</pre>
      </mat-card-content>
    </mat-card>
  </div>
</div>