<div class="grid-container">
  <h1 class="mat-h1">Encrypt</h1>

  <button mat-raised-button color="primary" (click)="encryptMessage()">Encrypt Message</button>

  <mat-form-field>
    <textarea matInput [formControl]="message" placeholder="Message"></textarea>
  </mat-form-field>

  <div class="messages">
    <div>
      <h5>Encrypted Message (AES-GCM)</h5>
      <pre>{{encryptedMessage}}</pre>
    </div>
    <div>
      <h5>Encrypted Master Key (PGP)</h5>
      <pre>{{encyrptedMasterKey}}</pre>
    </div>
  </div>
</div>
